<a id='top'></a>

<!--<div style="width:100%; padding-top: 15px; height:100px; text-align: center; vertical-align: middle;">
  <h3 style="">Learn Scalable, Reactive Microservices with the Simplicity Itself  Experts on <a href="/learning/adopting-microservices-course.html">"Adopting Reactive Microservices"</a></h3>
  <div>
    <b>Remote Attendance | Highly Interactive | Tutor Led | Guaranteed Tutor Time</b><br/>
    Innovative, 6 week Adaptive Learning course | <b>1st week free taster</b> |
    <b>14th November</b> <a href="/learning/adopting-microservices-course.html">more..</a></h3>
  </div>
</div>
-->