<div class='row'>
    <div class='large-12 columns'>
        {% include section-header.html title="Webinar Signup" class="alt" %}
        <div class='two spacing'></div>

        <p>Register your interest for <strong>{{include.title}}</strong></p>

        <div class='two spacing'></div>
    </div>
</div>
<div class='row'>
    <div class='medium-8 columns'>
        <div class='form'>
            <div class='row'>
                <form id='webinar_form' method='POST'>
                    <div class='large-12 columns'>
                        <p id='webithanks' style='display: none;'>
                            Thanks for contacting us, we'll be in touch soon!
                        </p>
                    </div>
                    <div class='medium-12 columns'>
                        <input class='required' name='name' placeholder='NAME' type='text'>
                        <input class='required email' name='email' placeholder='EMAIL' type='text'>
                        <input name='company' placeholder='Company (optional)' type='text'>
                        <input type="hidden" name="webinartitle" value="{{include.title}}" />
                        <input class='proham' name='url' placeholder='THIS SHOULD BE EMPTY' type='text'>
                        <input class='button white' type='submit'>
                    </div>
                </form>
            </div>
        </div>
        <div class='two spacing'></div>
    </div>
</div>