---
layout: blog
---
<div class='full' style='background: #f5f5f5'>
    <div class='row'>
        <div class='large-9 columns'>
            <div class='big mod modBlogPost'>
                <div class="content">
                    <h2>Tags</h2>

                        {% for tag in site.tags %}
                            {% assign t = tag | first %}
                            {% assign posts = tag | last %}
                            <h4>{{ t | downcase }}</h4>
                            <ul>
                                {% for post in posts %}
                                    {% if post.tags contains t %}
                                        <li>
                                            <a href="{{ post.url }}">{{ post.title }}</a>
                                            <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>


                        {% endfor %}

                </div>
            </div>
            <div class='four spacing'></div>
        </div>

        <div class='large-3 columns' id='sidebar'>
            {% include sidebar.html %}
            <div class='four spacing'></div>
        </div>
    </div>
</div>
<div class='full no-padding' style='background: #111'>
    <div class='two spacing'></div>
    <div class='row'>
        <div class='large-12 columns'>
            <p>2014 {{site.title}}. All rights reserved.</p>
        </div>
    </div>
    <div class='spacing'></div>
</div>