<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html base="index.html" %}

    <div id='main' role='main'>
      {{ content }}
    </div>

    {% include footer.html %}

    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us9.list-manage.com","uuid":"fce1e12e8f44592cf75288e11","lid":"98e2ce96d8"}) })</script>
  </body>

</html>
